.app-bg-container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  display: flex;
  justify-content: center;
}
.app-content-container {
  width: 85%;
  max-width: 1280px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .app-content-container {
    margin-top: 40px;
  }
}
.app-logo {
  width: 120px;
}

@media screen and (min-width: 768px) {
  .app-logo {
    width: 250px;
  }
}

.password-bg-container {
  margin-top: 10px;
  background-color: #5763a5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .password-bg-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.password-manager-image {
  width: 250px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .password-manager-image {
    order: 1;
    width: 400px;
  }
}
.form-bg-container {
  background-color: #454f84;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form-bg-container {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    margin-right: 30px;
  }
}
.form-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #f8fafc;
}
@media screen and (min-width: 768px) {
  .form-heading {
    font-size: 32px;
  }
}

.input-container {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #c3caea;
  display: flex;
  flex-grow: 1;
  height: 40px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .input-container {
    height: 45px;
  }
}
.input-img {
  border-right: 1px solid #c3caea;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50px;
}
.input {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  outline: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .input {
    font-size: 18px;
  }
}
.button-container {
  align-self: flex-end;
}
.add-button {
  background-color: #0b69ff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .add-button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 18px;
  }
}
.password-result-bg-container {
  margin-top: 20px;
  background-color: #5763a5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .password-result-bg-container {
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.password-stats-bg-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password-stats-container {
  display: flex;
  align-items: center;
}
.password-stats-heading {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .password-stats-heading {
    font-size: 20px;
  }
}
.password-count {
  border: 2px solid #94a3b8;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media screen and (min-width: 768px) {
  .password-count {
    font-size: 16px;
  }
}
.search-container {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #c3caea;
  display: flex;
  height: 40px;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .search-container {
    width: 350px;
  }
}

.search-img {
  border-right: 1px solid #c3caea;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.horizontal-line {
  color: #cbd2d9;
  background-color: #cbd2d9;
  border: none;
  height: 2px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.show {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}
.check-box {
  width: 20px;
  height: 20px;
}
.show-password {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .show-password {
    font-size: 20px;
  }
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-left: 0px;
}
.no-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-password-img {
  width: 100%;
  max-width: 500px;
}
.no-password {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .no-password {
    font-size: 30px;
    margin-top: 40px;
  }
}
